@import '~antd/dist/antd.css';
html body {
  font-family: 'roboto condensed' !important;
}
.App {
  text-align: center;
}
a {
  color: #141414 !important;
  text-decoration: none !important;
}
a:hover {
  color: #14141480 !important;
}

.maine {
  position: relative;
}
.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
}
.cool-link-focus {
  background: #000;
  /* color: #bbbbb7; */
}
.cool-link-focus a {
  color: #ccc !important;
}
.other-custom p:hover ul {
  display: block !important;
  background: rgba(138, 138, 138, 0.9);
  width: 200px;
  position: absolute;
  top: 60px;
}
.hover_show:hover ul {
  display: block;
}

.other-custom ul {
  display: none;
  position: absolute;
  transition: ease-in-out;
  background: rgb(187, 187, 183);
}
i.bx.bxs-home {
  font-size: 35px;
  padding-top: 7px;
}
.details-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details-product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f2f2f2;
}
.other-custom ul li {
  padding: 10px;
  border-bottom: 1.5px solid #ccc;
}
.other-custom-ul-li-focus {
  padding: 10px;
  border-bottom: 1.5px solid #ccc;
}
.other-custom li:hover {
  background-color: #141414;
}
.other-custom-li-focus {
  background-color: #141414;
}
.other-custom li:hover a {
  color: #ccc !important;
}
.other-custom li a {
  font-size: 16px;
}
.ab-right {
  top: 5px;
  position: absolute;
  right: 10px;
}
i.bx.bx-shopping-bag {
  /* font-size: 32px;
  padding-top: 10px;
  position: absolute;
  right: 0; */
}
.ant-badge-shopping {
  font-size: 32px;
  padding-top: 10px;
  position: absolute;
  right: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.main {
  margin-top: 140px;
  position: relative;
  bottom: 50px;
}
i.bx.bx-user {
  font-size: 32px;
  padding-top: 10px;
  position: absolute;
}
body {
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  width: 100%;
  height: auto;
}
.bg-menu {
  background-color: #9eb8be !important;
  transition: 0.7s ease-in-out;
}
.product-ani {
  position: relative;
  animation: mymove 3s;
}
.userInfo {
  width: 100%;
  height: auto;
  position: relative;
}
.userInfo i {
  font-size: 20px;
  position: absolute;
  right: 70px;
  line-height: 50px;
}
.userInfo i:hover ul {
  display: block !important;
}
.userInfo ul {
  display: none;
  position: absolute;
  padding: 0;
  top: 52px;
  margin: 0;
  width: 200px;
  height: auto;
  background: rgb(187, 187, 183);
}
.userInfo li {
  font-size: 16px;
  padding: 0 20px;
}
@keyframes mymove {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 100px;
    opacity: 0.5;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.signin-form a {
  color: white !important;
}
.open {
  display: flex !important;
  transition: 0.7s;
}
.open1 {
  background-color: rgba(0, 0, 0, 0.623);
  transition: 0.7s;
}
.email {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5f208a;
  position: relative;
  top: -80px;
}
.btn.btn-primary {
  margin-left: 10px;
}
span.closex {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
}
.productmain {
  position: relative;
}
li {
  text-decoration: none;
  display: block;
}
.product {
  position: relative;
  width: 320px;
  height: 450px;
  margin-left: 10px;
  margin-right: 10px;
  background: rgb(242, 242, 242);
  background: linear-gradient(
    90deg,
    rgba(242, 242, 242, 1) 0%,
    rgba(242, 242, 242, 0.6955824566154587) 100%
  );
  border-radius: 20px;
  overflow: hidden;
}
.product::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(61, 135, 222);
  background: linear-gradient(
    90deg,
    rgba(61, 135, 222, 1) 0%,
    rgba(61, 135, 222, 0.544321952413778) 100%
  );
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.product:hover:before {
  clip-path: circle(300px at 80% -20%);
}
.main {
  overflow-x: hidden;
}
.product::after {
  content: 'SHOES';
  position: absolute;
  top: 47%;
  left: 23px;
  font-size: 87px;
  font-weight: 800;
  color: rgb(255, 255, 255, 0.5);
  transition: 1s;
}
.product:hover::after {
  text-shadow: 1px 3px 16px black;
}
.product .product-img {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 220px;
  transform: translateY(-50%);
  z-index: 1000;
  transition: 0.5s;
}
.product:hover .product-img {
  top: 0%;
  transform: translateY(0%);
}
.product .product-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
  transform: translate(-50%, -50%) rotate(-25deg);
}
.product-text {
  position: absolute;
  bottom: -30px;
  text-transform: uppercase;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.product:hover .product-text {
  height: 210px;
}
.product .product-text h5 {
  opacity: 0;
  transition: 1s;
}
.product:hover .product-text h5 {
  opacity: 1;
}
.product-text h3 {
  color: #141414;
  position: relative;
  font-weight: 600;
}
.producthome {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-img img {
  max-width: 30rem;
  max-height: 15rem;
}
.cart-details-product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}
.cart-details-product h1 {
  text-align: center;
}
.cart-details-product button {
  border: none;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background-color: bisque;
}
.product-text button {
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  width: 100px;
  height: 40px;
  color: rgb(65, 35, 35);
  font-weight: 700;
}
.total-cart {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  height: auto;
  box-shadow: 4px 5px 6px #ccc;
  background-color: white;
}

select {
  margin-left: 7px;
  padding: 0px;
  border: 0.1rem #c0c0c0 solid;
  margin-bottom: 10px;
  font-size: 16px;
}
.yourcart img {
  width: 150px;
  height: 100px;
}

/* siginin */
.cart-details {
  background: #f2f2f2;
  margin-top: 100px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 4px 5px 6px #ccc;
}
.yourcart {
  border: 1px solid #ccc;
  margin: 0px 0px 20px 0px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 4px 5px 6px #ccc;
}
.bg-main {
  width: 100%;
  height: 100%;
  box-shadow: 5px 10px 15px black;
  background-color: #ced8c8e8;
  padding: 2px;
}
.box {
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  border-radius: 40px;
  transition: 0.3s;
}
.box:hover {
  border-radius: 0px;
  transition: 0.3s;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type='text'],
.box input[type='password'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type='text']:focus,
.box input[type='password']:focus {
  width: 280px;
  border-color: #2ecc71;
}
.box input[type='submit'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type='submit']:hover {
  background: #2ecc71;
}
.re-submit:hover {
  background: #2ecc71;
}
.re-submit {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

a.navbar-brand.logo {
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 5px black;
}
li.nav-item {
  line-height: 20px;
  font-family: cursive;
}
.user_menutop {
  position: absolute;
  right: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: cursive;
}
.create-form {
  display: flex;
  justify-content: center;
}
form.rounded.border {
  width: 400px;
  position: relative;
  padding: 15px;
}
form.rounded.border span {
  position: absolute;
  right: 6px;
  top: 20px;
  color: blueviolet;
  font-weight: 700;
}
ul {
  padding: 0px;
}
.checkoutsteps {
  display: flex;
  padding: 20px;
}
.checkoutsteps > div {
  padding: 0 10px;
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}
.checkoutsteps > div.active {
  padding: 0 10px;
  padding-bottom: 5px;
  border-bottom: 3px solid rgb(161, 142, 30);
}
.placeorder .general {
  border: 1px solid black;
  width: 100%;
  height: min-content;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.cart-place img {
  width: 300px;
}
.cart-place .img {
  width: 300px;
}
.placeorder .cart-place {
  height: auto !important;
}
.order {
  border: 1px solid black;
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.order button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(158, 184, 190);
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}
.order button:hover {
  background-color: rgb(119, 138, 143);
}

.color-circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}
.color-circle-focus {
  border-radius: 50%;
  box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #000000;
}
.filter-div {
  margin: 20px 0;
  font-weight: 700 !important;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 5px; */
}

.review-actions {
  display: table-cell;
  line-height: 28px;
  vertical-align: middle;
  position: relative;
  top: 0;
}
.action-inline {
  display: inline-block;
  margin-right: 5px;
  padding: 0 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
}
.action-inline:last-child {
  border-right-color: transparent;
}
.action-inline .count {
  color: rgb(158, 184, 190);
  border-bottom: 1px solid rgb(158, 184, 190);
  font-size: 1rem;
  margin-right: 5px;
  padding-bottom: 1px;
}

.product-detail-size {
  height: 50px;
  width: 50px;
  border-radius: 20%;
  display: inline-block;
  margin: 10px;
  font-size: 16pt;
  text-align: center;
  padding: 8px;
}
.product-detail-size:hover {
  border-radius: 20%;
  box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #000000;
}
.product-detail-size-focus {
  border-radius: 10%;
  box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #000000;
}

.ant-breadcrumb {
  font-size: 18px !important;
}
.ant-breadcrumb-link {
  color: gray !important;
}
.ant-breadcrumb-link:last-child {
  color: black !important;
}

.ant-upload-list-picture-card .ant-upload-list-item-actions {
  opacity: 0 !important;
}

.ant-upload-list-picture-card:hover .ant-upload-list-item-actions {
  opacity: 1 !important;
}
.cover-image .ant-upload-list-picture-card-container,
.cover-image .ant-upload-list-picture-card .ant-upload-list-item {
  width: 100%;
  height: 100%;
  /* text-align: center !important; */
}
.cover-image .ant-upload-list-item-thumbnail,
.cover-image .ant-upload-list-item {
  display: none;
}

.ant-cascader-menu-item {
  white-space: initial !important;
  border-bottom: 1px solid #e8e8e8;
}
.ant-calendar-range .ant-calendar-input,
.ant-calendar-range .ant-calendar-time-picker-input {
  text-align: center;
}
.ant-calendar-range-middle {
  left: 65% !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgb(158, 184, 190) !important;
  border-color: #ffa500 !important;
}
.ant-spin-dot-item,
.ant-switch-checked,
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after,
.ant-calendar-range .ant-calendar-selected-start-date .ant-calendar-date,
.ant-calendar-range .ant-calendar-selected-end-date .ant-calendar-date {
  background-color: rgb(158, 184, 190) !important;
}
.ant-calendar-range .ant-calendar-in-range-cell::before,
.ant-cascader-menu-item:hover,
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled),
.ant-table-thead
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-thead
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.transfer-item.active:hover,
.transfer-item.active:focus,
.ant-calendar-selected-day .ant-calendar-date,
.ant-calendar-date:hover {
  background-color: #f7aba723 !important;
}
.ant-input,
.ant-select-selection,
.ant-select {
  height: 32px !important;
}
form:not(.ant-form-vertical) :not(.ant-input-group-wrapper) > .ant-input-group,
form:not(.ant-form-vertical) .ant-input-group-wrapper {
  top: 0 !important;
}
.ant-pagination-item-active,
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled),
.ant-upload.ant-upload-select-picture-card:hover,
.ant-cascader-picker:focus .ant-cascader-input,
.ant-cascader-picker-label:hover + .ant-cascader-input,
.ant-select-selection:hover,
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled),
.ant-select-open .ant-select-selection,
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active,
.ant-input:focus,
.ant-input:hover,
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner,
.ant-time-picker-input:hover {
  border-color: #ffa500 !important;
  box-shadow: 0 0 0 2px rgba(255, 24, 24, 0.062) !important;
}
.ant-calendar-today .ant-calendar-date {
  border-color: #ffa500 !important;
  color: rgb(158, 184, 190) !important;
}
.ant-calendar-footer .ant-tag,
.menu-selector-item-selected,
.menu-selector-item:hover {
  color: #ffa500 !important;
  border-color: #ffa39e !important;
  background-color: #fff1f0 !important;
}
.ant-tabs-tab-arrow-show {
  height: 32px !important;
  width: 22px !important;
}
.ant-pagination-item-link,
.side-nav .ant-layout-sider-trigger,
.ant-btn .anticon {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.ant-avatar {
  align-items: center !important;
  display: inline-flex !important;
  justify-content: center !important;
}
.ant-tabs-nav-wrap {
  padding: 0;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 6px 8px !important;
}
.ant-modal-header {
  padding: 8px 12px !important;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
  height: auto !important;
}
.ant-tabs-bar {
  margin: 0 !important;
}
.ant-modal-close-x {
  width: 2rem !important;
  height: 2rem !important;
  line-height: 2rem !important;
}

.ant-btn {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.75rem !important;
  border: solid 1px #ccc !important;
  border-radius: 6px !important;
  outline: none !important;
  font-family: inherit !important;
  font-size: 1em !important;
  font-weight: 500 !important;
  line-height: 1.2rem !important;
  text-decoration: none !important;
  text-align: center !important;
  transition: all 0.3s ease-out !important;
  height: 36px !important;
}
.ant-btn:hover {
  background-color: rgb(124, 146, 151) !important;
  color: white !important;
}
.ant-btn:hover i {
  color: white !important;
}

.ant-btn[disabled] {
  background-color: #e5e5e5 !important;
  border: 1px solid #e5e5e5 !important;
  color: #a6a6a6 !important;
}
.atn-btn.disabled {
  background-color: #e5e5e5 !important;
  border: 1px solid #e5e5e5 !important;
  color: #a6a6a6 !important;
}
.ant-btn-link {
  color: #000 !important;
  background-color: transparent;
}
.ant-btn-primary {
  background-color: rgb(158, 184, 190) !important;
  color: white !important;
}
.ant-divider-horizontal {
  margin: 12px 0;
}
.ant-form-item-label {
  line-height: 24px !important;
}
/* .custom-tabs.ant-tabs-nav-container-scrolling {
  padding-right: 0px;
  padding-left: 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: white;
}
.custom-tabs.ant-tabs-nav-container-scrolling.ant-tabs-nav-scroll {
  overflow: auto;
  overflow-x: scroll;
  padding: 6px;
}
.custom-tabs.ant-tabs-tab-btn-disabled {
  display: none;
}
.custom-tabs .ant-tabs-tab-prev {
  box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
  display: none;
} .ant-tabs-ink-bar {
  background-color: transparent !important;
}
.custom-tabs .ant-tabs-tab-next {
  box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
  display: none;
}
.custom-tabs .ant-tabs-nav-container {
  overflow: inherit !important;
}
.custom-tabs .ant-tabs-nav-container .ant-tabs-tab-next {
  right: -20px !important;
}
.custom-tabs .ant-tabs-nav-container .ant-tabs-tab-prev {
  left: -20px !important;
}
.custom-tabs .ant-tabs-nav-container .ant-tabs-tab-next-icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.custom-tabs .ant-tabs-nav-container .ant-tabs-tab-next-icon i {
  font-size: 20px;
}
.custom-tabs .ant-tabs-nav-container .ant-tabs-tab-prev-icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.custom-tabs .ant-tabs-nav-container .ant-tabs-tab-prev-icon i {
  font-size: 20px;
}
.custom-tabs .ant-tabs-tab {
  text-align: center !important;
  padding: 0.75rem !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  box-shadow: 0px 3px 20px #0000000b !important;
  background-color: transparent !important;
  border-radius: 22px !important;
  position: relative !important;
  min-width: 100px !important;
  align-items: center !important;
  line-height: 14px !important;
  max-height: 36px !important;
  height: 36px !important;
  color: #e74c3c !important;
  margin-right: 19px !important;
  border-color: transparent !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.custom-tabs .ant-tabs-tab:hover {
  border-color: #e9ecef #e9ecef #dee2e6 !important;
  color: rgba(0, 0, 0, 0.8) !important;
}
.custom-tabs .ant-tabs-tab:last-child {
  margin-right: 0 !important;
}
.custom-tabs .ant-tabs-tab.ant-tabs-tab-active {
  background-color: #e74c3c !important;
  color: #fff !important;
}
.custom-tabs .ant-tabs-bar {
  border-bottom: 0 !important;
}
.custom-tabs {
  overflow: inherit !important;
  position: relative;
} */

.ant-rate-star.ant-rate-star-full,
.ant-rate-star.ant-rate-star-zero,
.ant-rate-star.ant-rate-star-half.ant-rate-star-active {
  transition: transform 0s;
}

.ant-rate-star.ant-rate-star-half.ant-rate-star-active:hover {
  transform: scale(0.91);
}

.ant-rate-star.ant-rate-star-full:hover {
  transform: scale(0.91);
}

.ant-rate-star.ant-rate-star-zero:hover {
  transform: scale(0.91);
}

.ant-rate-select .ant-rate {
  background-color: white;
  border-radius: 5px;
}

/* .upload-image .ant-btn {
  align-items: center;
  justify-content: center;
  margin: initial !important;
  padding: initial !important;
  border: none !important;
  border-radius: none !important;
  outline: none !important;
  font-family: inherit !important;
  line-height: initial !important;
  text-decoration: none !important;
  text-align: center !important;
  transition: none !important;
  height: initial !important;
  
  display: initial !important;
  justify-content: none !important;
  align-items: none !important;
}
.upload-image .ant-btn:hover {
  background-color: none !important;
} */
.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  /* color: white; */
  text-align: center;
}
.custom-select {
  margin-left: 0 !important;
}

.ant-input-search .ant-input-group-addon {
  /* display: none; */
  margin: none !important;
  padding: none !important;
  box-shadow: none !important;
  background: transparent !important;
}
.ant-input-search .ant-input-search-button {
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
  border-radius: none !important;
  /* border: none !important; */
  height: 32px !important;
}

.ant-input-search .ant-input-affix-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
  border-radius: none !important;
  /* border: none !important; */
  height: 32px !important;
}

.ant-input-search .ant-input {
  /* margin: 0 !important; */
  padding: 5px !important;
  box-shadow: none !important;
  border-radius: none !important;
  /* border: none !important; */
  height: 26px !important;
  margin: auto !important;
}
.label-custom {
  padding: 3px 5px;
  border-radius: 8px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', 'tnum';
  display: inline-block;
  height: auto;
  margin-right: 8px;
  padding: 0 7px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  cursor: default;
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.label-completed,
.label-approved,
.label-active,
.label-success {
  background-color: #5ac370;
}
.label-handling {
  background-color: #f7872b;
}
.label-pending {
  background-color: #fba930;
}
.label-pending-approved {
  background-color: #f7872b;
}
/* .label-canceled {
  background-color: #6d57cc;
} */

.label-rejected,
.label-canceled,
.label-cancelled,
.label-disabled {
  background-color: #e53935 !important;
}

.label-info {
  background-color: #2196f3;
}

.label-delivering {
  background: #13c2c2;
}
.label-picking {
  background: #fa8c16;
}

.label-delivered {
  background: #1890ff;
}
.label-user_canceled,
.label-expired {
  background: #eb2f96;
}
.label-user_rejected {
  background: #f5222d;
}
/* .label-company_rejected {
} */
.label-company_canceled,
.label-lost_damage {
  background: #722ed1;
}
.label-ready {
  background: #52c41a;
}

.label-upcoming {
  background: #2196f3;
}
.label-running {
  background: #5ac370;
}

.label-handled {
  background: #5ac370;
}

.form-create-product label {
  font-weight: 700;
}
